<p style="color: green"><%= notice %></p>

<div class="mainvisual index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://cdn-ak.f.st-hatena.com/images/fotolife/o/omoshironowa/20150619/20150619020430.jpg')">
    <h1>My Favorite Movies</h1>
    <div class="list-counter">
      <%= @lists.length %> <%= @lists.length >= 2 ? "lists" : "list" %>
    </div>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <div class="list-name">
          <%= link_to list.name, list_path(list) %>
        </div>
        <div class="btn-delete">
          <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-square-xmark"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= link_to "＋New list", new_list_path, class: "card-adding"%>
  </div>
</div>
