<p style="color: green"><%= notice %></p>

<div class="mainvisual" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>

<div class="container">
  <div class="d-flex row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card m-2" style="width: 18rem;">
      <%= image_tag bookmark.movie.poster_url, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <h4><%= bookmark.movie.rating %></h4>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<div>
  <%= link_to "Back to lists", lists_path %> |  <%= link_to "Add to movie", new_list_bookmark_path(@list) %>
</div>
